@import url('https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day|Josefin+Slab&display=swap');

body {
   font-family: 'Josefin Slab', serif;
   background-color: #f7f5f6;
   height: 100%;
   position: relative;
}

header {
  background-color: black;
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 80px;
  box-shadow: 2px 0 10px 5px black;
  z-index: 1;
}

h1 {
  margin: 0 0 0 15px;
  font-family: 'Dawning of a New Day', cursive;
  color: #d6caeb;
  font-size: 52px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}

nav {
  margin: 0 50px 0 0;
}

nav a {
  text-decoration: none;
  color: #d6caeb;
  margin: 0 5%;
  font-size: 36px;
  transition: color .5s ease-in-out;
}

nav a:hover {
  color: #ff0080;
}

span {
  font-size: 62px;
}

.component {
  padding-top: 150px;
  width: 90%;
  margin: 0 auto 80px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

* {
 box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}

.App {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}

footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}
